.containerResume {
	display: flex;
	position: relative;
	justify-content: space-between;
	margin: auto;
	max-width: 1000px;
	padding: 10px;
}

.column {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 10px;
}

.pixel {
	transition: 2s;
	width: 300px;
	height: 300px;
	filter: var(--pixel);
	margin: auto;
	border-radius: 50%;
	background-color: var(--bg-color);
	background-image: url('../../media/pixel.png');
	object-fit: contain;
	background-size: 100%;
}

strong {
	font-weight: bold;
}

@media (min-width: 800px) {	
	.containerResume {
		flex-direction: row;
		margin-top: 100px;	
	}
	.column:nth-child(1){
		width: 50%
	}
	.column:nth-child(2){
		width: 30%
	}
	.pixel:hover {
	transition: 2s;
	transform: rotateY(-180deg);
  	transform-style: preserve-3d;
	background-image: url('../../media/foto.png');
	}
}

@media (max-width: 800px) {
	.containerResume {
		flex-direction: column;
		margin-top: 30px;	
	}
}

@media print {
	.containerResume {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		margin: auto;
		margin-left: -10px;
		width: 600px;
	}
	.pixel {
		width: 300px;
		height: 350px;
		align-self: center;
		margin-left: 40px;
		margin-bottom: 20px;
		background-image: url('../../media/foto.png');
	}
	.column:nth-child(1) {
		width: 250px;
	}
	.column:nth-child(2) {
		width: 100px;
	}
}
