.containerResume {
	display: flex;
	position: relative;
	justify-content: space-between;
	margin: auto;
	max-width: 1000px;
	padding: 10px;
}

.column {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 10px;
}

.pixel {
	width: 100%;
	max-width: 400px;
	filter: var(--pixel);
	margin: auto;
	border-radius: 50%;
}

strong {
	font-weight: bold;
}

@media (min-width: 800px) {	
	.containerResume {
		flex-direction: row;
		margin-top: 100px;	
	}
	.column:nth-child(1){
		width: 50%
	}

	.column:nth-child(2){
		width: 30%
	}
}

@media (max-width: 800px) {
	.containerResume {
		flex-direction: column;
		margin-top: 30px;	
	}
}

@media print {
	.containerResume {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		margin: auto;
		margin-left: -10px;
		width: 600px;
	}
	.pixel {
		width: 250px;
		align-self: center;
		margin-left: 100px;
		margin-bottom: 20px;
	}
	.column:nth-child(1) {
		width: 250px;
	}
	.column:nth-child(2) {
		width: 100px;
	}
}
