.containerResume {
	display: flex;
	position: relative;
	justify-content: space-between;
	margin: auto;
	max-width: 1000px;
	padding: 10px;
	margin-top: 30px;
}
.column {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 10px;
}
.pixel {
	transition: 2s;
	width: 300px;
	height: 300px;
	filter: var(--pixel);
	margin: auto;
	border-radius: 50%;
	background-color: var(--bg-color);
	background-image: url('../../media/pixel.png');
	object-fit: contain;
	background-size: 100%;
	box-shadow: inset 0 0 5px 10px rgba(250,250,250,0.1),
							10px 10px 10px 0 rgba(30,30,30,0.3)
}


@media (min-width: 800px) {	
	.containerResume {
		flex-direction: row;
		margin: auto;
		margin-top: 40px;	
	}
	.column:nth-child(1){
		width: 50%
	}
	.column:nth-child(2){
		width: 30%
	}
	.pixel:hover {
	transition: 2s;
	transform: rotateY(-180deg);
  	transform-style: preserve-3d;
	background-image: url('../../media/foto.png');
	box-shadow: inset 0 0 5px 10px rgba(250,250,250,0.1),
							-10px 10px 10px 0 rgba(30,30,30,0.3)
	}
}

@media (max-width: 800px) {
	.containerResume {
		flex-direction: column;
		margin-top: 30px;
		margin-bottom: 50px;	
	}
	.pixel {
		margin-top: 20px;
		margin-bottom: 30px;
		transition: 2s;
		transform: rotateY(-180deg);
	  	transform-style: preserve-3d;
		background-image: url('../../media/foto.png');
		box-shadow: inset 0 0 5px 10px rgba(250,250,250,0.1),
							-10px 10px 10px 0 rgba(30,30,30,0.3)
	}
}

@media print {
	.containerResume {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		margin: auto;
		margin-left: -10px;
		width: 600px;
		transform: translateY(-105px) scale(0.8);
	}

	a {
		color: var(--stroke) !important;
	}

	.pixel {
		width: 330px;
		height: 330px;
		align-self: center;
		margin-left: 20px;
		margin-bottom: 20px;
		background-image: url('../../media/foto.png');
	}
	.column:nth-child(1) {
		width: 250px;
	}
	.column:nth-child(2) {
		width: 100px;
	}
	.qr {
		display: all;
		position: absolute;
		width: 150px;
		height: 150px;
	    top: 765px;
	    left: 440px;
	    border: 1px solid white;
	    border-width: 0 0 0 100px;
	}
	.webVersion {
		display: all;
		position: absolute;
		font-family: var(--content), consolas;
		top: 850px;
		left: 685px;
		border: 2px solid gray;
		padding: 10px;
	}
}

@media screen {
	.qr {
		display: none;
	}
	.webVersion {
		display: none
	}
}
@media print {
 	.containerResume {
 		margin-top: -70px;
 	}
	
}