@keyframes dance {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
.contact {
  background-color: var(--attention);
  color: var(--stroke);
  position: fixed;
  padding: 10px;
}
.h2Contact {
  font-size: 1.1em;
  font-family: var(--subtitle);
}
.contact i {
  font-size: 1.1em;
}
.containerContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.form .name,
.text,
.submit {
  margin: auto;
  margin: 1vh 0 1vh 0;
  border: none;
  box-shadow: 0 0 3px 1px black;
  font-family: consolas;
  background-color: white;
  padding-left: 5px;
}
.form .name:focus,
.text:focus,
.submit:focus {
  outline: none;
}
.name {
  width: 50vw;
  max-width: 300px;
  min-height: 2em;
}
.text {
  width: 70vw;
  max-width: 500px;
  resize: none;
  overflow: scroll;
  height: 30vh;
}
.text:focus {
  outline: none;
}
.submit {
  max-width: 200px;
  max-height: 30px;
  width: 50vw;
  height: 10vw;
  border: none;
  font-family: var(--content), consolas;
  font-size: 1em;
  background-color: transparent;
}
.submit:hover {
  transform: scale(0.95);
  text-transform: uppercase;
}
.submit:active {
  background-color: white;
}
.open {
  height: 100%;
  width: 100%;
  top: 0;
  background-color: var(--attention);
  text-align: right;
}
.open .h2Contact {
  margin-top: 20px;
  margin: 40px 200px 0 0;
}
.btnClose {
  width: 40px;
  height: 3px;
  background-color: var(--stroke);
  position: fixed;
  top: 25px;
  right: 10px;
  border: none;
  border-radius: 10px;
  transform: scale(0.8) rotate(45deg);
  margin: 30px 50px 0 0;
  box-shadow: none;
  cursor: pointer;
}
.btnClose:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  top: 0;
  right: 0;
  border-radius: 10px;
  transform: rotate(90deg);
  background-color: var(--stroke);
}
.btnClose:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: -22px;
  right: -13px;
  width: 60px;
  height: 60px;
}
.btnClose:focus {
  outline: none;
}
.btnClose:hover {
  transition: 1s;
  transform: scale(1.1) rotate(1deg);
}
.btnContainer {
  display: flex;
  align-items: center;
}
.confirm {
  font-size: 1em;
  font-family: consolas;
  color: var(--stroke);
  margin-right: 10px;
}
@media (max-width: 799.9px) {
  .contact {
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;
  }
  .closed {
    cursor: pointer;
    text-align: center;
    width: 150px;
    border-radius: 10px 10px 0 0;
    animation-name: dance;
    animation-duration: 0.3s;
    animation-delay: 5s;
    animation-iteration-count: 5;
    padding: 5px;
  }
  .open {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .open.h2Contact {
    position: absolute;
    right: -10px;
  }
  .btnClose {
    top: 10px;
    right: -20px;
  }
}

@media (min-width: 800px) {
  .contact {
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
  }
  .closed:hover {
    animation-name: dance;
    animation-duration: 0.3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
  }
  .closed {
    cursor: pointer;
    writing-mode: vertical-lr;
    border-radius: 0 10px 10px 0;
    animation-name: dance;
    height: 150px;
    text-align: center;
    animation-duration: 0.3s;
    animation-delay: 5s;
    animation-iteration-count: 5;
  }
  .closed:before {
    content: "";
    height: 200vw;
    width: 10vw;
    background-color: var(--attention);
    position: absolute;
    left: -9.5vw;
    top: -50vw;
  }
  .open {
    padding: 0 0 0 -30px;
  }
}

@media print {
  .contact {
    display: none;
    overflow: hidden;
  }
}
