.container {
  text-align: left;
}
.subtitle {
  align-self: flex-end;
  font-family: var(--subtitle);
  color: var(--stroke);
  margin-right: 60px;
}
.divisionBar {
  display: flex;
  height: 10px;
  width: 100%;
}
.content {
  font-family: var(--content);
  color: var(--stroke);
  margin: auto;
}

.text {
  margin: auto;
  margin-left: 30px;
}

.text a {
  color: var(--attention);
  font-size: 1em;
}

.text a:hover {
  text-transform: uppercase;
  color: var(--stroke);
}

@media (max-width: 550px) not print {
  .container {
    max-width: 90%;
    margin: auto;
  }
  .subtitle {
    font-size: 15px;
  }
  .content {
    font-size: 1.2em;
    max-width: 90%;
  }
}

@media (min-width: 800px) {
  .subtitle {
    font-size: 25px;
  }
  .content {
    font-size: 18px;
    max-width: 90%;
  }
}

@media screen {
  .content {
    margin: 1vw 0 1vw 0;
  }
  .divisionBar {
    margin: 1vw 0 1vw 0;
  }
}

@media print {
  .container {
    width: 400px;
    margin-top: 20px;
  }
  .divisionBar {
    height: 10px;
    width: 300px;
    border-radius: 0 100% 0 0;
    margin-top: 20px;
  }
  .subtitle {
    margin-top: 10px;
    font-size: 22px;
  }
  .text {
    font-size: 18px;
  }
}
